html{
  font-size: 62%;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 90%;
  margin: auto;
  /*border: 0.1vh solid paleturquoise;*/
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width:480px) 
/* 
.embed {
  height: 360px;
  width: 480px;
} */

{
  .container{
    max-width: 100%;
  }
}

body {
  font-family: 'PT Serif', serif;
}


/* Hero styles */

.hero-section {
  /* position: relative; */
  /* width: 80vw;  */
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: url(images/coding-photo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.ol-class{
  list-style: none;
  margin-bottom:30px ;
  list-style: circle;
  text-align: left;

}

.list-class{
  width: 150px;
  margin: auto;
  width: 150px;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}
.hero-content {
  position: relative;
  color: white;
  margin: auto;
}

.hero-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 24px;
  font-weight: 200;
  margin-top: 16px;
  margin-bottom: 60px;
}

.hero-button {
  text-decoration: none;
  background-color: #00cccc;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 400;
  border: 2px solid #00e6e6;
  font-size: 20px;
}



.hero-button:hover {
  background-color: #00b3b3;
}

.rotateText2:hover{
  transition: 0.7s ease-in-out;
  transform: scale(1, -1);
            color: #000080;
            -moz-transform: scale(1, -1);
            -webkit-transform: scale(1, -1);
            -o-transform: scale(1, -1);
            -ms-transform: scale(1, -1);
            transform: scale(1, -1);
}
.rotateText1{
  transition: 0.7s ease-in-out;
  transform: scale(1, -1);
            color: #000080;
            -moz-transform: scale(1, -1);
            -webkit-transform: scale(1, -1);
            -o-transform: scale(1, -1);
            -ms-transform: scale(1, -1);
            transform: scale(1, -1);
}