/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@font-face {
  font-family: "PP Mondwest";
  src: url(./assets/fonts/62bf127eaeec3d3029d770ba_PPMondwest-Regular.otf);
}

:root {
  --bgc: black;
  --content: white;
}

/* Base Styles */
html {
  font-size: 62%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Editing Scrollbar */

::-webkit-scrollbar {
  width: 2em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(blue, darkmagenta, red);
  border: 0.25em solid var(--content);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgb(51, 51, 255), magenta, rgb(251, 52, 52));
}

/* Container Styles */
.container {
  max-width: 90%;
  margin: auto;
  /*border: 0.1vh solid paleturquoise;*/
  font-size: 2rem;
  padding: 1em;
}

/* Universal style for h1 */
h1 {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Style for hero section */
.hero-section {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.hero-content {
  width: 50%;
  position: relative;
}

.hero-section svg {
  position: absolute;
  z-index: 1;
}
.hero-section svg circle {
  fill: #00b3b3;
}

.hero-svg {
  top: -20px;
  left: -80px;
}
.hero-content .hero-title {
  position: relative;
  z-index: 2;
  font-size: 4rem;
  margin: 0;
}

.hero-description {
  margin: 24px 0;
}

.hero-description p {
  font-family: "Didact Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero-btns a {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 12px 32px;
  border: 2px solid #141414;
  border-radius: 5px;
  margin: 0;
  text-decoration: none;
  transition-duration: 0.5s;
  transition-property: background-color;
}
.hero-btns .hero-button {
  background: #141414;
  color: #fff;
  margin: 0;
}
.hero-btns .hero-button--outline {
  background: inherit;
  color: #141414;
  border: 2px solid #141414;
}
.hero-button:hover,
.hero-button--outline:hover {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  border-color: #cf23cf;
  color: #fff;
}

.hero-image {
  width: 40%;
  position: relative;
}

.hero-image img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.hero-svg--second {
  bottom: 0;
  left: -100px;
  z-index: 1;
}

/* Style for about section */
#embed {
  display: none;
}

/* Universal style for h2 */
h2 {
  background: linear-gradient(
    to right,
    #fff 20%,
    rgb(205, 80, 247) 40%,
    rgb(84, 164, 255) 60%,
    /* #43d3ff 80%, */ rgb(255, 255, 255) 80%
  );
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 3s ease infinite;
}

@keyframes animate {
  to {
    background-position: 200% center;
  }
}

/* Styles for favourites section */
.fave-container {
  margin-block: 2em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 3px solid #de51ff;
  padding: 1em;
  border-radius: 20px;
}

#list,
#list2 {
  width: 50%;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  /*border: 2px solid #ee9eff;*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li {
  text-align: left;
  margin: 0 auto;
  width: 90%;
  align-self: center;
  counter-increment: my-awesome-counter;
  margin: 0.25rem;
  position: relative;
}

li::before {
  content: counter(my-awesome-counter);
  background: #662974;
  border-radius: 50%;
  display: grid;
  place-content: center;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 1.2rem;
  position: absolute;
  left: -2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Testimonials */
.testinomials {
  background: #00b3b3;
}

.testinomials .container {
  margin: 0 auto;
  max-width: 500px;
}

.testinomials .container {
  border-radius: 5px;
  padding: 16px;
}

.testinomials .container::after {
  content: "";
  clear: both;
  display: table;
}

.testinomials .container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.testinomials .container span {
  font-size: 20px;
  margin-right: 15px;
}

/* Styles for color form */
.color-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #293261;
  color: white;
  text-shadow: 2px 2px 3px black;
  margin-top: 2em;
  height: 5em;
  border: 1px solid white;
  border-radius: 20px;
}

.color-input {
  width: 325px;
  display: flex;
  justify-content: space-between;
}

input[type="color"] {
  width: 48px;
  height: 24px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: 2px solid #564e4e;
}

#color-submit {
  width: 270px;
  background-color: #ee9eff;
  color: #293261;
  font-family: inherit;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 1rem 3rem;
  box-shadow: 2px 2px 10px #37343c;
}

#color-submit:hover,
#color-submit:focus {
  opacity: 0.75;
}

/* Style for Plus Button */
#plus {
  position: absolute;
  right: 0px;
  height: 65px;
  width: 65px;
}

/* Styles for SUN & MOON svg-icons */
.svg-icon {
  width: 30px;
  height: 30px;
  position: fixed;
  padding: 5px;

  right: 20px;
  top: 20px;
  cursor: pointer;
}

.sun path,
.sun polygon,
.sun rect {
  fill: #f6ca46;
}

.moon {
  border-radius: 100%;
}

.moon path,
.moon polygon,
.moon rect {
  fill: black;
}

.hidden {
  display: none;
}

/*  css for when light mode is active */
.light-mode {
  background: #f5f5f5;
  color: #141414;
}

.light-mode-gradient {
  background: linear-gradient(
    to right,
    rgb(43, 42, 42) 20%,
    rgb(205, 80, 247) 40%,
    rgb(84, 164, 255) 60%,
    /* #43d3ff 80%, */ rgb(49, 49, 49) 80%
  );
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 3s ease infinite;
}

.link-light-mode {
  color: #238bf3;
}

/* Large Tablet Styles */
@media screen and (max-width: 820px) {
  .hero-section {
    flex-direction: column;
    height: auto;
    padding-block: 24px;
    gap: 40px;
    text-align: center;
  }
  .hero-section > div {
    width: 70%;
  }
  .hero-btns {
    justify-content: center;
  }
  /* I put the list items as column for better visibility */

  #list,
  #list2 {
    align-self: center;
    width: 95%;
  }

  .hero-section .hero-content .image,
  .hero-content .hero-button {
    margin: 0;
  }
}

/* Small Tablet Styles */
@media screen and (max-width: 550px) /* .embed { height: 360px; width: 480px; } */ {
  .container {
    width: 100%;
    max-width: 100%;
  }
  /* I chose 550px because the list breaks at around that pixel size. */

  .fave-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-section > div {
    width: 100%;
  }

  .hero-svg {
    top: 0;
    left: 0;
  }
}

/* Mobile Styles*/
@media screen and (max-width: 400px) /* .embed { height: 360px; width: 480px; } */ {
  .hero-btns {
    flex-direction: column;
    gap: 12px;
    width: 70%;
    margin: auto;
  }
  .hero-btns a {
    width: 100%;
  }
}

.testinomials {
  background: #00b3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-container {
  border-radius: 5px;
  padding: 16px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.pippi {
  width: 400px;
  max-width: 90%;
}

.container span {
  font-size: 24px;
  /*margin-right: 15px;*/
}

.testimonials .container {
  margin: 0 auto;
  max-width: 500px;
}
