html {
  font-size: 62%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 90%;
  margin: auto;
  /*border: 0.1vh solid paleturquoise;*/
  text-align: center;
  font-size: 2rem;
}
h1{
  background: linear-gradient(to right, #ffffff,
                    #ffa366, #ee57ee, #ffec1f);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}


@media screen and (max-width:480px) 
/* 
.embed {
  height: 360px;
  width: 480px;
} */
{
  .container{
    max-width: 100%;
  }
}

body {
  font-family: 'PT Serif', serif;
}

#embed {
  display: none;
}



.fave-container {
  margin-top: 2em;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 3px solid #de51ff;
  padding: 1em 0;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  border: 2px solid #ee9eff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}

#list, #list2 {
  width: 50%;
}

li {
  counter-increment: my-awesome-counter;
  margin: 0.25rem;
  
}

li::before {
  content: counter(my-awesome-counter);
  background: #662974;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
}
ol ol li::before {
  background: #de51ff;
}
ol ol ol li::before {
  background: #ee9eff;
}



/*body {
  font-family: "PT Serif", serif;
}*/

/* Hero styles */

.hero-section {
  /* position: relative; */
  /* width: 80vw;  */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: url(images/coding-photo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}


.ol-class{
  list-style: none;
  margin-bottom:30px ;
  list-style: circle;
  text-align: left;

}

.list-class{
  width: 150px;
  margin: auto;
  width: 150px;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}

.hero-section:hover .hero-section::before {
  filter: brightness(100%);
  border: 1px solid red;
}


.hero-content {
  position: relative;
  color: white;
  margin: auto;
}

.hero-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 24px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 60px;
}

.hero-button {
  text-decoration: none;
  background-color: #00cccc;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  border: 2px solid #00e6e6;
  font-size: 20px;
}

.hero-button:hover {
  background-color: #00b3b3;
}


.rotateText2:hover{
  transition: 0.7s ease-in-out;
  transform: scale(1, -1);
            color: #000080;
            -moz-transform: scale(1, -1);
            -webkit-transform: scale(1, -1);
            -o-transform: scale(1, -1);
            -ms-transform: scale(1, -1);
            transform: scale(1, -1);
}
.rotateText1{
  transition: 0.7s ease-in-out;
  transform: scale(1, -1);
            color: #000080;
            -moz-transform: scale(1, -1);
            -webkit-transform: scale(1, -1);
            -o-transform: scale(1, -1);
            -ms-transform: scale(1, -1);
            transform: scale(1, -1);

#plus {
  position: absolute;
  right: 0px;
  height: 65px;
  width: 65px;
}

h2 {
  background: linear-gradient(
    to right,
    #fff 20%,
    rgb(205, 80, 247) 40%,
    rgb(84, 164, 255) 60%,
    /* #43d3ff 80%, */ rgb(255, 255, 255) 80%
  );
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 3s ease infinite;
}

@keyframes animate {
  to {
    background-position: 200% center;
  }
}

.svg-icon {
  width: 30px;
  height: 30px;
  position: fixed;
  padding: 5px;

  right: 20px;
  top: 20px;
  cursor: pointer;
}

.sun path,
.sun polygon,
.sun rect {
  fill: #f6ca46;
}

.moon {
  background-color: white;
  border-radius: 100%;
}
.moon path,
.moon polygon,
.moon rect {
  fill: #141414;
}

/*?  css for when light mode is active */

.hidden {
  display: none;
}

.light-mode {
  background: #f5f5f5;
  color: #141414;
}

.light-mode-gradient {
  background: linear-gradient(
    to right,
    rgb(43, 42, 42) 20%,
    rgb(205, 80, 247) 40%,
    rgb(84, 164, 255) 60%,
    /* #43d3ff 80%, */ rgb(49, 49, 49) 80%
  );
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 3s ease infinite;
}

.link-light-mode {
  color: #238bf3;
}



@media screen and (max-width: 550px) /* .embed { height: 360px; width: 480px; } */ {
  .container {
    max-width: 100%;
  }
/* I chose 550px because the list breaks at around that pixel size. */

 .fave-container {
  flex-direction: column;  
  text-align: center;
 }

 /* I put the list items as column for better visibility */

 #list, #list2 {

   align-self: center;
 }

 #list2 {
  margin-top: 2rem;
 }
 li{
  text-align: left;
  margin: 0 auto ;
  width: 90%;
  align-self: center;
 }


 ol {
  margin: 0;
  padding: 0;
 }


}